<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View trek users </title>
</head>
<body>
    <h2>{{ trek.trek_name }}</h2>

    <table border="1">

    <tr>
        <th>User ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Booking Date</th>
        <th>Status</th>
        <th>Actions</th>
    </tr>

    {% for booking,user in users %}

    <tr>

    <td>{{ user.id }}</td>

    <td>{{ user.first_name }} {{ user.last_name }}</td>

    <td>{{ user.email }}</td>

    <td>{{ booking.booking_date }}</td>

    <td>{{ booking.status }}</td>
    <td><a href="{{ url_for('staff.remove_participant',booking_id=booking.booking_id) }}">Remove</a></td>

    </tr>

    {% endfor %}

    </table>
</body>
</html>