<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update a trek</title>
</head>
<body>
    <h1>Update a trek </h1>
    <form method = 'POST'>
        
        {{ form.hidden_tag() }}

        <p>
            {{ form.user_name.label }} 
            {{ form.user_name(size=32, placeholder="admin") }}    
        </p>
        <p>

            {{ form.trek_name.label }} 
            {{ form.trek_name(size=32, placeholder = trek.trek_name  ) }}    
        </p>

        <p>
            {{ form.location.label }} 
            {{ form.location(size=32, placeholder = trek.location ) }}
        </p>

        <p>
            {{ form.district.label }} 
            {{ form.district(size=32, placeholder = trek.district ) }}
        </p>

        <p>
            {{ form.state.label }} 
            {{ form.state(size=32, placeholder =  trek.state ) }}
        </p>

        <p>
            {{ form.pincode.label }} 
            {{ form.pincode(size=32, placeholder = trek.pincode ) }}
        </p>

        <p>
            {{ form.difficulty.label }} 
            {{ form.difficulty(size=32, placeholder = trek.difficulty  ) }}
        </p>

        <p>
            {{ form.duration.label }} 
            {{ form.duration(size=32, placeholder =  trek.duration ) }}    
        </p>

        <p>
            {{ form.member_slots.label }} 
            {{ form.member_slots(size=32, placeholder = trek.member_slots  ) }}
        </p>

        <p>
            {{ form.status.label }} 
            {{ form.status(size=32, placeholder = trek.status ) }}
        </p>

        <p>
            {{ form.start_date.label }} 
            {{ form.start_date(size=32, placeholder = trek.start_date  ) }}
        </p>

        <p>
            {{ form.end_date.label }} 
            {{ form.end_date(size=32, placeholder =  trek.end_date ) }}
        </p>

        <p>
            {{ form.booking_date.label }}
            {{ form.booking_date(size=32)}}
        </p>

        <p>
            {{ form.booking_status.label }}
            {{ form.booking_status(size=32, placeholder= "Please enter: confirmed, pending, cancelled")}}
        </p>

        <p> Please enter the assigned staff member's details: </p>

        <p> 
            {{ form.staff_first_name.label }}
            {{ form.staff_first_name(size=32)}}
        </p>

        <p> 
            {{ form.staff_last_name.label }}
            {{ form.staff_last_name(size=32)}}
        </p>

        <p> 
            {{ form.staff_email.label }}
            {{ form.staff_email(size=32)}}
        </p>

        <p>
            {{ form.submit()}}
        </p>
    </form>
</body>
</html>