<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trek Details</title>
</head>
<body>
    <table border = 1>
        <tr>
            <th>Trek ID</th>
            <th>Trek Name</th>
            <th>Location</th>
            <th>District</th>
            <th>State</th>
            <th>Pincode</th>
            <th>Difficulty</th>
            <th>Duration</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Trek Status</th>
            <th>Actions</th>
        </tr>
    
        
            <tr>
                <td>{{ trek.trek_id }} </td>
                <td>{{ trek.trek_name }}</td>
                <td>{{ trek.location }}</td>
                <td>{{ trek.district }}</td>
                <td>{{ trek.state }}</td>
                <td>{{ trek.pincode }}</td>
                <td>{{ trek.difficulty }}</td>
                <td>{{ trek.duration }}</td>
                <td> {{ trek.start_date }} </td>
                <td> {{ trek.end_date }} </td>
                <td>{{ trek.status }}</td>
                <td>
                    <button><a href="{{ url_for('user.book_trek', trek_id = trek.trek_id)}}">Book Trek</a> </button>
                </td>
            </tr>
        
    </table>

    <p><a href="{{ url_for('user.dashboard', user_id = user_id ) }} ">Go back to dashboard</a></p>
</body>
</html>



|

